*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
     background-color: rgba(26, 11, 46, 1);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin: 24px auto;
    align-items: center;
}
.navbar h1{
    color: white;
    font-size: 40px;

}
.color-linear{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.bg-color-remove{
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.navbar a{
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    margin-right: 32px;
} 
.btn{
    color:white;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
    justify-items: center;
}
.banner-button button{
    margin-right: 8px;
}
.btn-2{
    padding: 13px 20px;
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    font-size: 16px;
    font-weight: 400;
    border-color: rgba(0, 255, 136, 1) ;
    border-radius: 10000px;
}
.spotify{
    margin-right: 8px;
}
#banner {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 101px 525px;
}
.circle-bg{
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}
.new-badge {
    position: absolute;
    top: 10px;  
    right: -25px; 
}
.microphone{
    position: absolute;
    top: 77px;  
    right: 116px; 
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}
.banner-content p{
    font-size: 16px;
    color:rgba(255, 255, 255, 1);
    opacity: 80%;
    margin-bottom: 24px;
}
.about{
    padding: 50px 200px 120px 200px;
}
.about-content h1{
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}
.about-content p{
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
hr{
    color: rgba(255, 255, 255, 1);
    opacity: 10%;
    margin: 80px 0px;
}
.data{
    display: flex;
    justify-content: space-around;
}
.mini-card h1{
    font-size: 48px;
    color: rgba(0, 255, 136, 1);
    font-weight: bolder;
    margin-bottom: 16px;
}
.mini-card p{
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    font-size: 16px;
    line-height: 20px;
}
.title{
    grid-area: title;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 40px;
}
.card-1{
    grid-area: card-1;
    align-content: center;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}
/* .features>*{
    border: 2px solid red;
    background-color: #9100F8;
    padding: 20px;
} */
.features{
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 200px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "title  title  title"
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5";
}
.card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}
.card img{
    margin-bottom: 16px;
}
.card h2{
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
}
.featured-2{
    padding: 120px 200px;
}
.featured-2 h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.video-card{
    border-radius:20px;
    background-color: #250D44;
}
.video-card iframe{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; ;
}
.video-card-content{
    padding: 24px;
}
.video-card h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.video-card p{
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity:60%;
    margin-top: 12px;
    margin-bottom: 12px;
}
.video-card h5{
    color: rgba(0, 255, 136, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.host-container{
    margin-top: 40px;
    background-color: #250D44;
    border-radius: 40px;
    padding: 40px;
    gap: 40px;
    display: flex;
}
.host-container h2{
    font-size: 32px;
    color: white;
    margin-bottom: 16px;
}
.host-container p{
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity: 60%;
    margin-bottom: 16px;
}
.meet-host{
    margin-top: 120px;
}
.host-container .logo img{
    margin-right: 8px;
}
.footer-container{
    background-image: url("assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px;
}
.footer-title{
    font-size: 80px;
    color: white;
    text-align: center;
    margin-bottom: 32px;
}
.footer-logo{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 56px;
}
.f-logo{
    display: flex;
    gap: 10px;
}
.f-logo p,.copy-right{
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity: 60%;
}
.copy-right{
    text-align: center;
}



   
